<br>
<br>
<div class="card">
    <div class="logo-container">
    </div>
    <br>
    <h3 >RESET PASSWORD</h3>
    <form   (ngSubmit)="Reset()">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" [(ngModel)]="username" required>
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="password"   required>
        </div>
        <div>
            <label for="password">Confirm Password</label>
            <input type="password" name="cnfirmpass" [(ngModel)]="confirmpassword"   required>
        </div>
        <br>
    <button class="buttons" type="submit" >Submit</button>
    <button class="buttons" (click)="navigatetohome()">Back</button>
    
    <br>
    </form>
    </div>
<router-outlet></router-outlet>
