
<br>
<div class="card">
    <img src ="assets/logofinal.png" alt="logo">
    <div class="logo-container">
</div>
<p id="title">Amusement Park Ticketing System</p>
<form (ngSubmit)="onSubmit()">
    <label for="username">USERNAME: </label>
    <input type ="text" name="username" [(ngModel)]="loginObj.username" required size="40px"><br>
    <label for="password">PASSWORD: </label>
    <input type ="password" name="password" [(ngModel)]="loginObj.password"required size="40px"><br><br>
    <button type="submit" (click)="onLogin()">LOG IN</button>
<br>
<br>
<br>
<div class="loginpage">
    <label for="create-account">Doesn't have an account? </label>
    <a  routerLink="/create-account">Create one </a><br>
    <label for="reset-password">Forgot Password?   </label>
    <a  routerLink="/reset-password">Click here </a><br>

</div>

</form>
</div>





